SUBSYSTEM=="tty", ATTRS{idVendor}=="3162", ATTRS{idProduct}=="0053", SYMLINK+="ttyPixhawk"
SUBSYSTEM=="tty", ATTRS{idVendor}=="2DAE", ATTRS{idProduct}=="1016", SYMLINK+="ttyCubeOrange"
